.aGlutenPlace {
	
}

.aVeganPlace {
	
}

.warning {
	color:#eb9316;
}

.success {
	color:#4cae4c;
}

#appendPlaces {
	overflow:scroll;
	height:500px;
}

* {
 	font-family: 'Arimo', sans-serif;
 }

.floating {
	float:left;
}

.center {
	text-align: center;
}

#logo {
	font-family: 'Sansita One', cursive;
	font-size: 60px;
}


#logoNav {
	font-family: 'Sansita One', cursive;
	font-size: 40px;
}

