.aGlutenPlace {
	
}

.aVeganPlace {
	
}

.warning {
	color:#eb9316;
}

#appendPlaces {
	overflow:scroll;
	height:500px;
}

* {
 	font-family: 'Arimo', sans-serif;
 }

.floating {
	float:left;
}

.center {
	text-align: center;
}
